extends layouts/main
include mixin/videoBlock


block content
    .search__header
        h3 Searching by #{searchingBy}
    .search__videos
        each item in dbVideos       
            +videoBlock({
                title:item.title,
                views:item.views,
                videoFile:item.videoFile
            })
